
[Ll]ib/
[Bb]in/
[Oo]bj/
[Bb]uild/
[Ee]xe/
[Rr]elease/
[Dd]ebug/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Bb]uild/*
!/build/build_directory

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.opendb

*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.VC.db

__vm/